.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
}

.imageContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  background-image: url("../../images/error-page-bg.jpg");
  background-size: cover;
  background-position: center;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: bold;
  color: var(--heading-color);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.errorTitle {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--heading-color);
}

.errorMessage {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.homeButton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.homeButton:hover {
  background-color: #004494;
}
