/* All Categories Container */
.allCategoriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 100%;
  max-width: 280px;
  padding: 16px;
  background-color: var(--section-color);
  position: fixed;
  top: -10px;
  left: 0;
  bottom: 0;
  transition: var(--transition);
  z-index: 10000;
  opacity: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--product-box-shadow);
}

.allCategoriesContainer::-webkit-scrollbar {
  width: 4px;
}

.allCategoriesContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.allCategoriesContainer::-webkit-scrollbar-thumb {
  background: #888;
}

.allCategoriesContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.closeAllCategorySection {
  display: flex;
  justify-content: end;
  margin-top: 0.7em;
}

.closeFilter {
  cursor: pointer;
  /* display: none; */
}

.categoriesList {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.parentCategory {
  font-size: 1.3rem;
  color: var(--heading-color);
}

.subCategories {
  margin-left: 0.5em;
}

.subCategory:hover {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 600;
}

.activeCategory {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 600;
}
